{% extends "wfytemp/base.html" %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W.F.Y. - Hire Top Talent from W.F.Y</title>
   <link rel="stylesheet" type="text/css" href=" {% static 'css/home.css' %} ">

</head>
<style> a {text-decoration: none;} </style>
<style> li .a {text-decoration: none;} </style>


<body>

<div class="top-home">
    <section class="top-top">
        <div class="h1-back">
            <div class="top-bw">
                <div class="h1pb">
                    <h1 class="h1">Hire the Top Talent from <a href="#">W.F.Y. </a> <sup>®</sup></h1>
                    <p class="h1p">W.F.Y. is an exclusive network of the top freelance software developers, designers, finance experts, product managers, and project managers in the world. Top companies hire W.F.Y. freelancers for their most important projects.</p>
                        <div class="b-back">
                            <a class="button" href="{% url 'Login' %}">Hire Top Talent</a>
                        </div>
                </div>
                <div class="img-b">
                    <div class="img-f">


                    </div>
                </div>
            </div>
        </div>
    </section>
            </div>
        </div>



<br><br><br>
<div class="below-home3">
    <div class="home-4">    
        <section class="hiring-made-easy">
            <h2 class="home-4-h2">Hiring Made Easy</h2>
            <div class="hiring-made-easy-svgs-container">
                <div class="hiring-made-easy-svgs" role="list">
                    <div class="hiring-made-easy-svg-item" role="listitem">
                        <div class="hme">
                            <div class="home-4-svg-item">
                                <svg class="hiring-made-easy-svg-item-arrow" viewBox="0 0 15 29">
                                    <path d="m.707.707 13.678 13.678-13.678 13.677" fill="none" stroke="#204ecf">
                                    </path>
                                </svg>
                            </div>
                            <div class="no-in-home-4">1</div>
                            <div class="home-4-svg-item">
                                <svg class="hiring-made-easy-svg-item-arrow" viewBox="0 0 15 29">
                                    <path d="m.707.707 13.678 13.678-13.678 13.677" fill="none" stroke="#204ecf">
                                    </path>
                                </svg>
                            </div>
                            <div class="hme-4-text">
                                <h3 class="hme-4-h3">Talk to One of Our Industry Experts</h3>
                                <div class="hme-4-p">An expert on our team will work with you to understand your goals, technical needs, and team dynamics.</div>
                            </div>
                        </div>
                    </div>
                    <div class="hiring-made-easy-svg-item" role="listitem">
                        <div class="hme">
                            <div class="no-in-home-4">2</div>
                            <div class="home-4-svg-item">
                                <svg class="hiring-made-easy-svg-item-arrow" viewBox="0 0 15 29">
                                    <path d="m.707.707 13.678 13.678-13.678 13.677" fill="none" stroke="#204ecf">                                        
                                    </path>
                                </svg>
                            </div>
                            <div class="hme-4-text">
                                <h3 class="hme-4-h3">Work With Hand-Selected Talent</h3>
                                <div class="hme-4-p">Within days, we'll introduce you to the right talent for your project. Average time to match is under 24 hours.</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hiring-made-easy-svg-item" role="listitem">
                        <div class="hme">
                            <div class="no-in-home-4">3</div>
                            <div class="home-4-svg-item">
                                <svg class="hiring-made-easy-svg-item-arrow" viewBox="0 0 15 29">
                                    <path d="m.707.707 13.678 13.678-13.678 13.677" fill="none" stroke="#204ecf">                                        
                                    </path>
                                </svg>
                            </div>
                            <div class="hme-4-text">
                                <h3 class="hme-4-h3">The Right Fit,<br> Guaranteed</h3>
                                <div class="hme-4-p">Work with your new team member on a trial basis (pay only if satisfied), ensuring you hire the right people for the job</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>


<div class="rur">
    <p class="rur_p">Ready to get started?</p>
    <div class="rur_b">
        <a href="{% url 'Login' %}" class="button">Hire Top Talent</a>
    </div>
</div>

<div class="mid-end-s">
        <div class="mid-end-s-img">
            <img class="mid-end-s-img-ff" src="{% static 'img/mid-end.webp' %}" width="100%" height="100%">
        <div class="mid-end-s-img-f">
            <span class="mid-end-img-span"></span>
            <div class="mid-end-s-img-f-svg">
                <svg class="mid-end-s-img-f-svg-e" style="width:32px;height:32px" viewBox="0 0 24 24">
                    <path d="M0 13.6C0 17.7 2.47 20 5.247 20c2.469 0 4.32-2 4.32-4.3 0-2.4-1.748-4.2-4.114-4.2-.309 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L7.305 0C3.395 2.8 0 8 0 13.6zm14.61 0c0 4.1 2.365 6.4 5.143 6.4 2.572 0 4.424-2 4.424-4.3 0-2.4-1.749-4.2-4.115-4.2-.412 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L21.914 0c-4.013 2.8-7.305 8-7.305 13.6z" fill="currentColor">
                </path>
            </svg>
            <div>
                <p class="mid-end-p">We're known as a high-skilled marketplace, and we see an acute pain point within that area.</p>
                <img src="cnbc.svg">
            </div>
            </div>
        </div>
    </div>
</div>

<div class="home-7">
    <div>
        <div class="home-7-back">
            <section class="home-7-sec">
                <h2 class="home-7_h2">Hear From Our Clients</h2>
                
                <div class="rating" role="list">
                    <div class="r1" role="listitem">
                        <div class="rt_cont">
                        <p> Our customers say</p>
                        </div>
                    </div>

                    <div class="r2" role="listitem">
                        <div class="rt_cont">
                        <p class="pe"><strong>Excellent</strong></p>
                    </div>
                    </div>    
                    <div class="r3" role="listitem">
                        <div class="rt_cont">
                        <div style="position: relative; height: 0; width: 100%; padding: 0; padding-bottom: 18.326693227091635%;">

                            <svg viewBox="0 0 251 46" style="position: absolute; height: 100%; width: 100%; left: 0; top: 0;">
                                <g class="tp-star">
                                    <path class="tp-star__canvas" fill="#00B67A" d="M0 46.330002h46.375586V0H0z"></path>
                                    <path class="tp-star__shape" d="M39.533936 19.711433L13.230239 38.80065l3.838216-11.797827L7.02115 19.711433h12.418975l3.837417-11.798624 3.837418 11.798624h12.418975zM23.2785 31.510075l7.183595-1.509576 2.862114 8.800152L23.2785 31.510075z" fill="#FFF"></path>
                                </g>
                                <g class="tp-star">
                                    <path class="tp-star__canvas" fill="#00B67A" d="M51.24816 46.330002h46.375587V0H51.248161z"></path>
                                    <path class="tp-star__canvas--half" fill="#00B67A" d="M51.24816 46.330002h23.187793V0H51.248161z"></path>
                                    <path class="tp-star__shape" d="M74.990978 31.32991L81.150908 30 84 39l-9.660206-7.202786L64.30279 39l3.895636-11.840666L58 19.841466h12.605577L74.499595 8l3.895637 11.841466H91L74.990978 31.329909z" fill="#FFF"></path>
                                </g>
                                <g class="tp-star">
                                    <path class="tp-star__canvas" fill="#00B67A" d="M102.532209 46.330002h46.375586V0h-46.375586z"></path>
                                    <path class="tp-star__canvas--half" fill="#00B67A" d="M102.532209 46.330002h23.187793V0h-23.187793z"></path>
                                    <path class="tp-star__shape" d="M142.066994 19.711433L115.763298 38.80065l3.838215-11.797827-10.047304-7.291391h12.418975l3.837418-11.798624 3.837417 11.798624h12.418975zM125.81156 31.510075l7.183595-1.509576 2.862113 8.800152-10.045708-7.290576z" fill="#FFF"></path>
                                </g>
                                <g class="tp-star">
                                    <path class="tp-star__canvas" fill="#00B67A" d="M153.815458 46.330002h46.375586V0h-46.375586z"></path>
                                    <path class="tp-star__canvas--half" fill="#00B67A" d="M153.815458 46.330002h23.187793V0h-23.187793z"></path>
                                    <path class="tp-star__shape" d="M193.348355 19.711433L167.045457 38.80065l3.837417-11.797827-10.047303-7.291391h12.418974l3.837418-11.798624 3.837418 11.798624h12.418974zM177.09292 31.510075l7.183595-1.509576 2.862114 8.800152-10.045709-7.290576z" fill="#FFF"></path>
                                </g>
                                <g class="tp-star">
                                    <path class="tp-star__canvas" fill="#dcdce6" d="M205.064416 46.330002h46.375587V0h-46.375587z"></path>
                                    <path class="tp-star__canvas--half" fill="#00B67A" d="M205.064416 46.330002h23.187793V0h-23.187793z"></path>
                                    <path class="tp-star__shape" d="M244.597022 19.711433l-26.3029 19.089218 3.837419-11.797827-10.047304-7.291391h12.418974l3.837418-11.798624 3.837418 11.798624h12.418975zm-16.255436 11.798642l7.183595-1.509576 2.862114 8.800152-10.045709-7.290576z" fill="#FFF"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    </div>
                    <div class="r4" role="listitem">
                        <div class="rt_cont">
                            <p><strong>4.5</strong> out of 5 based on <strong>1,223 reviews</strong></p>
                        </div>
                    </div>
                    <div class="r5" role="listitem">
                        <div class="rt_cont">
                            <p>Trustpilot</p>
                        </div>
                    </div>
                </div>

                <div class="blockqoute1" roll="list">
                    <div class="bq_item" roll="listitem">
                        <blockquote class="bq">
                            <div>
                                <svg class="bq_com" viewBox="0 0 24 24">
                                    <path d="M0 13.6C0 17.7 2.47 20 5.247 20c2.469 0 4.32-2 4.32-4.3 0-2.4-1.748-4.2-4.114-4.2-.309 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L7.305 0C3.395 2.8 0 8 0 13.6zm14.61 0c0 4.1 2.365 6.4 5.143 6.4 2.572 0 4.424-2 4.424-4.3 0-2.4-1.749-4.2-4.115-4.2-.412 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L21.914 0c-4.013 2.8-7.305 8-7.305 13.6z" fill="currentColor">
                                </path>
                            </svg>
                            <p class="bq_p">
                                With W.F.Y., we are able to find talented developers in a matter of weeks instead of months. The quality of talent they supply is extremely high as the developers are able to immediately onboard and ramp incredibly fast.
                            </p>
                            </div>
                            <div class="bq_img-cont">
                                <img src="zaccarman.webp" class="bq_img">
                                <div class="bq_des">
                                    <p class="bq_des_p1">Zac Carman, CEO</p>
                                    <p class="bq_des_p2">ConsumerAffairs</p>
                            </div>
                        </div>
                        </blockquote>
                    </div>

                    <div class="bq_item" roll="listitem">
                        <blockquote class="bq">
                            <div>
                                <svg class="bq_com" viewBox="0 0 24 24">
                                    <path d="M0 13.6C0 17.7 2.47 20 5.247 20c2.469 0 4.32-2 4.32-4.3 0-2.4-1.748-4.2-4.114-4.2-.309 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L7.305 0C3.395 2.8 0 8 0 13.6zm14.61 0c0 4.1 2.365 6.4 5.143 6.4 2.572 0 4.424-2 4.424-4.3 0-2.4-1.749-4.2-4.115-4.2-.412 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L21.914 0c-4.013 2.8-7.305 8-7.305 13.6z" fill="currentColor">
                                </path>
                            </svg>
                            <p class="bq_p">
                                With the pressure on and millions watching the Cleveland Cavaliers during the NBA Playoffs, W.F.Y. delivered the talent and expertise needed to launch a brand new fan engagement platform.
                            </p>
                            </div>
                            <div class="bq_img-cont">
                                <img src="conorkenney.webp" class="bq_img">
                                <div class="bq_des">
                                    <p class="bq_des_p1">Conor Kenney, Director of Professional Services</p>
                                    <p class="bq_des_p2">Cleveland Cavaliers</p>
                            </div>
                        </div>
                        </blockquote>
                    </div>

                    <div class="bq_item" roll="listitem">
                        <blockquote class="bq">
                            <div>
                                <svg class="bq_com" viewBox="0 0 24 24">
                                    <path d="M0 13.6C0 17.7 2.47 20 5.247 20c2.469 0 4.32-2 4.32-4.3 0-2.4-1.748-4.2-4.114-4.2-.309 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L7.305 0C3.395 2.8 0 8 0 13.6zm14.61 0c0 4.1 2.365 6.4 5.143 6.4 2.572 0 4.424-2 4.424-4.3 0-2.4-1.749-4.2-4.115-4.2-.412 0-1.03.1-1.132.2.206-3.2 2.778-7.1 6.07-9.3L21.914 0c-4.013 2.8-7.305 8-7.305 13.6z" fill="currentColor">
                                </path>
                            </svg>
                            <p class="bq_p">
                                We've been very pleased with our experience working with W.F.Y.. Their team was incredibly helpful in helping us find the perfect developer for our project. The work was stellar, the communication was excellent and we couldn't have been happier with the overall experience. We're excited to work with W.F.Y. for more projects in the future!                            </p>
                            </div>
                            <div class="bq_img-cont">
                                <img src="ryanwalker.webp" class="bq_img">
                                <div class="bq_des">
                                    <p class="bq_des_p1">Ryan Walker, Director of Product</p>
                                    <p class="bq_des_p2">Rand McNally</p>
                            </div>
                        </div>
                        </blockquote>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="end-b">
    <p class="end-b-p">Top talent is in high&nbsp;demand.</p>
    <a href="{% url 'Login' %}" class="button">Start Hiring</a>
</div>
            <ul class="last-ul1">
                <li class="last-ul1-li1">Copyright 2023 W.F.Y.</li>
                <li class="last-ul1-li">
                    <a href="#a">Privacy Policy</a>
                </li>
                <li class="last-ul1-li">
                    <a href="#a">Website Terms</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}